[@jewel998/state-machine - v0.0.3](../README.md) / ValidationResult

# Interface: ValidationResult

## Implemented by

- [`ValidationResultImpl`](../classes/ValidationResultImpl.md)

## Table of contents

### Properties

- [isValid](ValidationResult.md#isvalid)
- [errors](ValidationResult.md#errors)
- [warnings](ValidationResult.md#warnings)

## Properties

### isValid

• `Readonly` **isValid**: `boolean`

#### Defined in

[src/patterns/Strategy.ts:10](https://github.com/jewel998/state-machine/blob/main/src/patterns/Strategy.ts#L10)

___

### errors

• `Readonly` **errors**: readonly `string`[]

#### Defined in

[src/patterns/Strategy.ts:11](https://github.com/jewel998/state-machine/blob/main/src/patterns/Strategy.ts#L11)

___

### warnings

• `Readonly` **warnings**: readonly `string`[]

#### Defined in

[src/patterns/Strategy.ts:12](https://github.com/jewel998/state-machine/blob/main/src/patterns/Strategy.ts#L12)
